<!DOCTYPE html>
{{#if this.curHP}}
<div class="hp-holder holder">
  <span>HP: </span><span class="hp">{{this.curHP}} / {{this.healthPoints}}</span>
</div>
{{/if}}
{{#if this.damageLow}}
<div class="attack-holder holder">
  <span>Attack: </span><span class="attack">{{this.damageLow}} - {{this.damageHigh}}</span>
</div>
{{/if}}

<div class="level-holder holder">
  <span>Level: </span><span class="level">{{#if this.level}}{{this.level}}{{else}}0{{/if}}</span>
</div>

<div class="xp-holder holder">
  <span>XP: </span><span class="xp">{{#if this.xp}}{{this.xp}}{{else}}0{{/if}}</span>
</div>


<div class="next-level-holder holder">
  <span>Next Level At: </span><span class="next">{{#if this.nextLevel}}{{this.nextLevel}}{{else}}0{{/if}}</span>
</div>


<div class="score-holder holder">
  <span>Score: </span><span class="score">{{#if this.score}}{{this.score}}{{else}}0{{/if}}</span>
</div>

<div class="combo-holder holder">
  <span>Combo Bonus: </span><span class="combox">x{{#if this.comboKills}}{{this.comboKills}}{{else}}0{{/if}}</span>
</div>
